@media screen and (max-width:1800px){
    #container{
        display: none;
    }
    #tianqi{
        margin: 0 auto;
    }
}

#container {
    width: 1167px;
    height: 988px;
}

#tianqi{
    width: 700px;
    padding: 20px;

}

ul{
    padding: 0;
}

.mgl50{
    margin-left: 50px;
}
li{
    list-style: none;
    display: inline-block;

}

tr,td,table {
    border-collapse: collapse;
    border: 1px #eee solid;
}
td{
    padding: 10px;
}
table{
    width: 580px;
}
.codeimg{
    margin-left: 45px;
    width: 30px;
    height: 30px;
}
.codeimg1{
    text-align: center;
    margin-left: 45px;
    width: 30px;
    height: 30px;
}

#qlty{
    width: 30px;
    height: 30px;
    display: block;
    border-radius: 50%;
    text-align: center;
}
.qlty{
    font-size: 20px;
}
#cityname{
    width: 200px;
}

.change{
    position: absolute;
    top: 25px;
    right: -18px;
}

#today{
    width: 500px;
    padding: 5px;
    position: relative;
    border-bottom: 1px #eee solid;
}
#headinfo{
    padding: 5px;
    height: 50px;
    border-bottom: 1px solid #eeeeee;
    color: dodgerblue;
    line-height: 50px;
    font-size: 24px;
}
#tmp{
    height: 50px;
    padding-left: 20px;
    font-size: 40px;
    line-height: 50px;
}
#qlty{
    background-color: #000;
    position: absolute;
    top: 95px;
    left: 300px;
}
#condimg{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 82px;
    left: 100px;
}
#daily_forecast{
    width: 700px;
    height:400px;
}