{% extends 'base.html' %}
{#{% import "pagination.html" as macros %}#}
{% block body %}
    {% for name,url,tags in posts %}
        <div class="post">
            <a href="/p_v2/{{ url[:-3] }}">{{ name }}</a>
            <div class="tags">
                {% for tag in tags %}
                <span>
                    {{ tag }}
                </span>
                {% endfor %}
            </div>
{#            <div class="datetime">{{ moment(post.subtime).fromNow() }}</div>#}
            <div class="post_less">
                <p>
{#                {{ post.content |safe| truncate(200, True)}}#}
                </p>
            </div>
        </div>
    {% endfor %}
{#    {{ macros.pagination_widget(pagination,'.index') }}#}
{% endblock %}
