<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/on_my_css_v2.css">
    <title>
        {% block title %}{% endblock %}
    </title>

    <style>
        .panel{
            border-radius: 2px;
            border: 0;
            box-shadow: 0 1px 6px 0 rgba(0,0,0,.12), 0 1px 6px 0 rgba(0,0,0,.12);
        }
        .list-group-item {
            color: #0f0f0f;
        }
        a {
            text-decoration: none!important;
        }

        .header{
            background: #2f1e2e!important;
        }

    </style>
</head>
<body>
{% block navbar %}
    <div class="col-md-12 header">
        <div class="container">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Mayne</a></li>
                <li><a href="/meiju">追剧</a></li>
                <li><a href="#">菜单</a></li>
              </ul>
        </div>
    </div>
    <div class="jumbotron">
        <div class="container">
            <h2> </h2>
            <h2> </h2>
            <h2> </h2>
            <h2>Good Enough Is Not Good Enough</h2>
            <h2> </h2>
            <h2> </h2>
            <h2> </h2>
        </div>
    </div>
{% endblock %}

{% block main %}
{% endblock %}

{% block foot %}
    <div class="footer col-md-12" role="footer">
    <div class="footinfo">
        <p>Copyright © 2016 Mayne | powered by <a href="https://github.com/MayneYao/gine">gine</a> </p>
        <span><a href="https://github.com/MayneYao"><img src="/static/img/github.png" alt=""></a></span>
    </div>
</div>
{% endblock %}

<div class="container">
    {% for message in get_flashed_messages() %}<div class="flash">
        {{ message }}
    </div>
    {% endfor %}
</div>
<script src="/static/oh_my_js.js"></script>
</body>
</html>