<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <title>test</title>
</head>
<body>
<div id="header" >
    <nav class="navbar navbar-default col-md-12" role="navigation">
        <span id="logo"><a href="/"><img src="/static/img/logo.png"  width="120px" height="auto"></a></span>
        <ul>
            <li><a href="/tags">标签</a></li>
            <li><a href="/meiju">追剧</a></li>
            <li><a id="menu-toggle" href="#">菜单</a></li>
        </ul>
    </nav>
</div>

<div class="container" role="main">
    <div class="col-md-9" role="posts">
        {% for name,url,tags,subtime in posts %}
            <div class="post">
                <a href="/p_v2/{{ url[:-3] }}">{{ name }}</a>
                <div class="tags">
                    {% for tag in tags %}
                    <span class="tag{{ tag[-1] }}">
                        <a href="/tags/{{ tag[:-1] }}">{{ tag[:-1] }}</a>
                    </span>
                    {% endfor %}
                </div>
                <div class="datetime">{{ subtime }}</div>
                <div class="post_less">
                    <p>
    {#                {{ post.content |safe| truncate(200, True)}}#}
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="col-md-3">
        <div class="panel panel-info">
          <div class="panel-heading">标签</div>
            <div class="list-group">
                {% for tag,size in tags.items() %}
                    <a class="list-group-item" href="/tags/{{ tag }}"><span class="label">{{ tag }}</span><span class="badge">{{ size }}</span></a>
                {% endfor %}
            </div>
        </div>

        <div class="panel panel-success">
          <div class="panel-heading">归档</div>
            <div class="panel-body list-group">
               暂无
            </div>
        </div>
    </div>
</div>

<div class="footer col-md-12" role="footer">
    <div class="footinfo">
        <p>Copyright © 2016 Mayne | powered by <a href="https://github.com/MayneYao/gine">gine</a> </p>
        <span><a href="https://github.com/MayneYao"><img src="/static/img/github.png" alt=""></a></span>
    </div>
</div>
</body>
</html>