<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/on_my_css_v2.css">
    <title>test</title>
    <style>
        .panel{
            border-radius: 2px;
            border: 0;
            box-shadow: 0 1px 6px 0 rgba(0,0,0,.12), 0 1px 6px 0 rgba(0,0,0,.12);
        }
        .list-group-item {
            color: #0f0f0f;
        }
    </style>
</head>
<body>
<div id="header" >
    <nav class="navbar navbar-default col-md-12" role="navigation">
        <span id="logo"><a href="/"><img src="/static/img/logo.png"  width="120px" height="auto"></a></span>
        <ul>
            <li><a href="/tags">标签</a></li>
            <li><a href="/meiju">追剧</a></li>
            <li><a id="menu-toggle" href="#">菜单</a></li>
        </ul>
    </nav>
</div>

<div class="container" role="main">
    <div class="col-md-9" role="posts">
        {% for name,url,tags,subtime,summary in posts %}
            <div class="panel panel-default">
			    <div class="panel-body">
			        <h3 class="post-title"><a href="/p_v2/{{ url[:-3] }}">{{ name }}</a></h3>
			        <div class="post-meta">
			        	<span class="post-time"><span class="glyphicon glyphicon-time"></span>{{ subtime }}</span>
			        	<span class="post-tags">
                            {% for tag in tags %}
                                <span class="lable"><a href="/tags/{{ tag[:-1] }}">{{ tag[:-1] }}</a></span>
                            {% endfor %}
                        </span>
			        </div>
			        <div class="post-content">
                         {{ summary |safe}}
                    </div>
			    </div>
		    </div>
        {% endfor %}
    </div>
    <div class="col-md-3">
        <div class="panel " style="background: #2f1e2e">
          <div class="panel-heading">标签</div>
            <div class="list-group">
                {% for tag,size in tags.items() %}
                    <a class="list-group-item" href="/tags/{{ tag }}" ><span>{{ tag }}</span><span class="badge">{{ size }}</span></a>
                {% endfor %}
            </div>
        </div>

        <div class="panel " style="background: #2f1e2e">
          <div class="panel-heading">归档</div>
            <div class="panel-body list-group">
               暂无
            </div>
        </div>
    </div>
</div>

<div class="footer col-md-12" role="footer">
    <div class="footinfo">
        <p>Copyright © 2016 Mayne | powered by <a href="https://github.com/MayneYao/gine">gine</a> </p>
        <span><a href="https://github.com/MayneYao"><img src="/static/img/github.png" alt=""></a></span>
    </div>
</div>
</body>
</html>