{% extends "base_p.html" %}
{% block title %}
    {{ title }}
{% endblock %}
{% block post %}
    {% for title,content,sub_time,up_time,p_tags in post %}
        <div class="panel panel-default">
            <div class="panel-body">
                <h2 class="post-title">{{ name }}</h2>
                <div class="post-meta">
                    <span class="post-time"><span class="glyphicon glyphicon-time"></span>{{ subtime }}</span>
                    {% if up_time %}<span>{{ up_time }}</span>{% endif %}
                    <span class="post-tags">
                        {% for p_tag in p_tags %}
                            <span class="lable"><a href="/tags/{{ p_tag }}">{{ p_tag}}</a></span>
                        {% endfor %}
                    </span>
                </div>
                <div class="post-content">
                    {{ content |safe}}
                </div>
            </div>
        </div>
    {% endfor %}

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"gine"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0]
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!-- 多说公共JS代码 end -->
{% endblock %}