{% extends "base_p.html" %}
{% block title %}
    {{ title }}
{% endblock %}
{% block post %}
    <div class="panel panel-primary">
        <div class="panel-body">
            <h1>{{ title }}</h1>
            发表时间:<span class="time">{{ sub_time }}</span>
            {% if up_time %}
                更新时间:<span class="time">{{ up_time }}</span>
            {% endif %}
            <hr>
            <article id="article">
                {{ content|safe }}
            </article>
        </div>
        <hr>
	    <div class="ds-thread" data-thread-key="{{ title }}" data-title="{{ title }}" data-url="/p/{{ title }}"></div>
    </div>

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"gine"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0]
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!-- 多说公共JS代码 end -->
{% endblock %}