{% extends "base_p.html" %}
{% block title %}
    {{ title }}
{% endblock %}
{% block post %}
        <div class="panel panel-default">
            <div class="panel-body">
                <h2 class="post-title">{{ post[0] }}</h2>
                <div class="post-meta">
                    <span class="glyphicon glyphicon-time"></span>
                    <span class="post-time">{{ post[2] }}</span>
                    {% if post[3] %}<span class="glyphicon glyphicon-refresh"></span><span class="post-time">{{ post[3] }}</span>{% endif %}
                    <span class="glyphicon glyphicon-tags"></span>
                    <span class="post-tags">
                        {% for p_tag in post[4] %}
                            <span class="lable"><a href="/tags/{{ p_tag }}">{{ p_tag}}</a></span>
                        {% endfor %}
                    </span>
                </div>
                <div class="post-content">
                    {{ post[1] |safe}}
                </div>
            </div>
        <div class="ds-thread" data-thread-key="{{ post[0] }}" data-title="{{ post[0] }}" data-url="/p_v2/{{ post[0] }}"></div>
        </div>
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"gine"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0]
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!-- 多说公共JS代码 end -->
{% endblock %}