{% extends 'base_v2.html' %}
{#{% import "pagination.html" as macros %}#}
{% block body %}
    {% for name,url,tags,subtime in posts %}
        <div class="post">
            <a href="/p_v2/{{ url[:-3] }}">{{ name }}</a>
            <div class="tags">
                {% for tag in tags %}
                <span class="tag{{ tag[-1] }}">
                    <a href="/tags/{{ tag[:-1] }}">{{ tag[:-1] }}</a>
                </span>
                {% endfor %}
            </div>
            <div class="datetime">{{ subtime }}</div>
            <div class="post_less">
                <p>
{#                {{ post.content |safe| truncate(200, True)}}#}
                </p>
            </div>
        </div>
    {% endfor %}
{#    {{ macros.pagination_widget(pagination,'.index') }}#}
{% endblock %}
{#{% block side %}#}
{#    <ul class="tags_ul">#}
{#        {% for tag,size in tags.items() %}#}
{#            <li class="tags_li" style="font-size: {{ 8*size }}px;margin:{{ 2*size }}px "><span class="tag{{ size%6 + 1 }}"><a href="/tags/{{ tag }}">{{ tag }}</a></span></li>#}
{#        {% endfor %}#}
{#    </ul>#}
{#{% endblock %}#}
