{% extends "base.html" %}
{% block css_js %}
    <link rel="stylesheet" href="/static/weather.css">
    <script src="//cdn.bootcss.com/echarts/3.3.2/echarts.common.min.js"></script>
    <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=7889800cab33d00f30d7d1d4288c65d8"></script>
{% endblock %}
{% block main %}
<div class="col-md-12 container line_top">
    <div id="tianqi" class="col-md-6">
        <div id="today" class="mgl50">
            <div id="headinfo">
                <span id="city"></span> <span id="time"></span>
            </div>

            <div id="now">
                <ul>
                    <li><span id="tmp"></span><span>℃</span></li>
                    <li><img id="condimg"></li>
                    <li class="qlty"><span style="position: absolute;top: 95px;left: 180px;">空气质量</span><span id="qlty"></span> </li>
                </ul>
            </div>

            <div class="change">
                <input type="text" id="cityname" placeholder="定位不精确？手动输入城市名">
            </div>
        </div>

        <div id="daily_forecast" ></div>
        <div id="desc" class="mgl50">
            <ul style="margin-top: -35px" >
                <li><img class="codeimg" id="day0img"></li>
                <li><img class="codeimg" id="day1img"></li>
                <li><img class="codeimg" id="day2img"></li>
                <li><img class="codeimg" id="day3img"></li>
                <li><img class="codeimg" id="day4img"></li>
                <li><img class="codeimg" id="day5img"></li>
                <li><img class="codeimg" id="day6img"></li>
            </ul>
            <ul style="margin-top: -20px" >
                <li id="day0txt" class="codeimg1"></li>
                <li id="day1txt" class="codeimg1"></li>
                <li id="day2txt" class="codeimg1"></li>
                <li id="day3txt" class="codeimg1"></li>
                <li id="day4txt" class="codeimg1"></li>
                <li id="day5txt" class="codeimg1"></li>
                <li id="day6txt" class="codeimg1"></li>
            </ul>
        </div>
        <div id="hour_forecast" >
        </div>


        <div id="suggestion" class="mgl50">
        <table >
            <tr>
                <td><img src="/static/img/car.png" style="width: 36px;" alt=""></td>
                <td id="cw_brf"></td>
                <td id="cw_txt"></td>
            </tr>
            <tr>
                <td><img src="/static/img/sun.png"  style="width: 36px;" alt=""></td>
                <td id="uv_brf"></td>
                <td id="uv_txt"></td>
            </tr>
            <tr>
                <td><img src="/static/img/yifu.png" style="width: 36px;" alt=""></td>
                <td id="drsg_brf"></td>
                <td id="drsg_txt"></td>
            </tr>

        </table>
        </div>

    </div>
    <div class="col-md-6" id="container"></div>
</div>
<script src="/static/weather.js"></script>
{% endblock %}